
// Praxator Colors
$darkgrey: #bdc6cf;
$grey: #E9ECEF;
$lightgrey: #f8f9fa;
$darkbrown: #5f4324;
$brown: #9f703d;
$lightbrown: #ddab4a;
$yellow: #f1dd6f;
$white: #ffffff;
$green: #38c172;
$blue: #3490dc;
$red: #e3342f;
$black: #000000;

$grey1: #bdc6cf;
$grey2: #cbd3da;
$grey3: #dadfe4;
$grey4: #e9ecef;
$grey5: #f8f9fa;

// Backgrounds
$body-bg: #ffffff;

// Element Colors
$text-color: $darkbrown;
$link-color: $brown;


// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
