// ************************************************************
// Elements
// ************************************************************

//SVG

.icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1.5em;
  overflow: visible;
  vertical-align: -.125em;
}
.icon-media {
  height: 30px;
}
